apiVersion: v1
kind: Service
metadata:
  name: blocky
spec:
  type: LoadBalancer
  loadBalancerIP: 192.168.0.60
  selector:
    app: blocky
  ports:
    - name: dns-udp
      port: 53
      protocol: UDP
      targetPort: 53
    - name: dns-tcp
      port: 53
      protocol: TCP
      targetPort: 53
    - name: http
      port: 4000
      protocol: TCP
      targetPort: 4000
