apiVersion: v1
kind: Service
metadata:
  name: redis
spec:
  # type: LoadBalancer
  # loadBalancerIP: 192.168.0.22
  selector:
    app: redis
  ports:
    - name: redis
      port: 6379
      targetPort: 6379
    - name: metrics
      port: 9121
      targetPort: 9121
