apiVersion: v1
kind: ConfigMap
metadata:
  name: blocky-config
  annotations:
    checksum/config: {{ include (print $.Template.BasePath "/configmap.yaml") . | sha256sum }}
data:
  config.yml: |
    upstreams:
      groups:
        default:
          - unbound.dns.svc.cluster.local
    blocking:
      denylists:
        ads:
          - https://raw.githubusercontent.com/StevenBlack/hosts/master/hosts
          - https://raw.githubusercontent.com/hagezi/dns-blocklists/main/adblock/pro.txt
          - https://raw.githubusercontent.com/hagezi/dns-blocklists/main/adblock/popupads.txt
      allowlists:
        ads:
          - https://raw.githubusercontent.com/anudeepND/whitelist/master/domains/whitelist.txt
      clientGroupsBlock:
        default:
          - ads
    ports:
      dns: 53
      tls: 853
      http: 4000
      https: 443
    caching:
      prefetching: true
    clientLookup:
      upstream: 192.168.0.1
    prometheus:
      enable: true
      path: /metrics
    redis:
      address: redis.dns.svc.cluster.local:6379
      database: 1
      required: true
