apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: blocky-monitor
spec:
  selector:
    matchLabels:
      app: blocky
  namespaceSelector:
    matchNames:
      - default
  endpoints:
    - port: http-metrics
      interval: 30s
