apiVersion: v1
kind: ConfigMap
metadata:
  name: prometheus-config
  namespace: monitoring
data:
  prometheus.yml: |
    global:
      scrape_interval: 30s

    scrape_configs:
      - job_name: "blocky"
        static_configs:
          - targets: ["blocky.dns.svc.cluster.local:4000"]

    remote_write:
      - url: https://prometheus-prod-36-prod-us-west-0.grafana.net/api/prom/push
        basic_auth:
          username: <your_grafana_cloud_id>
          password: <your_api_key>