apiVersion: monitoring.coreos.com/v1
kind: PodMonitor
metadata:
  name: redis-pod-monitor
  namespace: monitoring
spec:
  namespaceSelector:
    matchNames:
      - dns
  selector:
    matchLabels:
      app: redis
  podMetricsEndpoints:
    - interval: 15s
      path: /metrics
      port: metrics
